body {
  background-color: #333333;
}

.header-bg {
  background-color: red;
  display: inline-block;
  position: absolute;
  transform: rotate(-70deg);
  left: -90vw;
  width: 200vw;
  height: 200vh;
  z-index: -1;
}
